/*
Wholesale Signup Form

@since 1.0.0
*/

@import "../settings";

#wholesale-form {

    padding: 0;

    #wholesale-form-title {

        margin: 2.1428571429rem 4.2857142858rem 2.1428571429rem 2.1428571429rem;
        padding-top: 5px;
        padding-bottom: 5px;

        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 4px;
            width: 30px;
            background: $primary-color;
        }

    }

    #wholesale-top-banner, #wholesale-bottom-banner {

        padding: 2.1428571429rem;
        background-color: $primary-color;
        text-align: center;


        h3 {
            color: #fff;

            a { 
                color: #fff;
            }

        }

    }

    #gform_wrapper_2 {

        padding: 0 2.1428571429rem 0 2.1428571429rem;

    }

}