/*
Shop page.

@since 1.0.0
*/

@import "../settings";

body.post-type-archive-product {

  #site-content .products {
    @extend .small-block-grid-2;
    @extend .medium-block-grid-3;

    .product {
      margin: 0;
      padding: 10px;
    }
  }

  .product {
    > a {
      display: block;
    }

    .price {
      margin-bottom: 0 !important;
      text-align: center;
      font-size: 1em !important;

      del {
        display: inline !important;
      }
    }

    .button {
      margin-top: 0 !important;
    }
  }
}