/*
Single product page.

@since 1.0.0
*/

@import "../settings";

body.single-product {

  .page-title {
    .product-subtitle {
      font-size: 0.6em;
      font-family: $font-family-sans-serif;
    }
  }

  .price {
    .amount {
      font-size: 2em;
    }
  }
}