/*
Styles shared among all templates.

@since 1.0.0
*/

@import "../settings";

// Titles
.page-title, .section-title, .widget-title {
  @include header-border;
  margin-bottom: 30px;
}

// Site content section
#site-content {
  padding: $column-gutter;
}

// Page content
.page-content {
  @media #{$medium-up} {
    padding-right: $column-gutter !important;
  }
}