/*
Styles shared among all templates.

@since 1.0.0
*/
@import "../settings";

// Titles
.page-title, .section-title, .widget-title {
  @include header-border;
  margin-bottom: 30px;
}

// Site content section
#site-content {
  padding: $column-gutter;
}

// Page content
.page-content {
  @media #{$medium-up} {
    padding-right: $column-gutter !important;
  }
}

// Image captions
.wp-caption {
  padding: 5px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;

  .wp-caption-text {
    margin: 0;
    text-align: center;
    font-size: 0.8em;
    color: #555;
  }
}

// Forms
.gform_wrapper {
  input {
    margin-bottom: 5px;
  }

  label {
    margin-bottom: 15px !important;
  }
}