/*
Styles front-page.php.

@since 0.1.0
*/

@import "../settings";

body.home {

  // Feature
  .home-feature {
    margin-top: 10px;
    background: url("assets/images/home-feature-back.png");
    background-size: cover;
    padding-top: 50px;

    .home-feature-left {
      padding: 20px;
    }

    .home-feature-right {
      padding: 20px;

      .container {
        color: #fff;
        padding: 20px;
      }

      p, .button {
        margin-bottom: 0;
      }
    }
  }

  // Welcome
  .home-welcome {
    background: #fff;
    border-style: solid;
    border-color: $primary-color;
    border-width: 8px 0;
    color: $fourth-color;

    h2 {
      color: $third-color;
    }
  }

  // Content
  #site-content {
    margin-top: 0;
  }

  // Featured Products
  .home-featured-products {

    li {
      list-style: none;

      > .container {
        @include clearfix;
        border: 1px solid #ccc;
        padding: 5px;
      }
    }

    .product-image {
      float: left;
      width: 40%;
    }

    .product-content {
      float: left;
      width: 60%;
      font-size: 0.8em;

      .product-title {
        color: $primary-color;
        font-size: 1.3em;
        line-height: 1;
      }

      .add_to_cart_button {
        background: transparent;
        color: $primary-color;
        padding: 0 10px 0 0;
        margin: 0 10px 0 0;
        border-right: 1px solid #ccc;
      }
    }
  }
}