/*
The single book landing page.

@since 1.0.0
*/

@import "../settings";

body.single-book {

  .book-snippet {
    color: #fff;
    margin: $gutter 0;

    > .row {
      @include trim(#fff);
      background: url("http://www.transparenttextures.com/patterns/black-linen.png") $primary-color repeat;

      > .container {
        @include clearfix;
        padding: $gutter 0;
      }
    }

    .book-copy {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.3;

      p {
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}