/*
Global mixins.

@since 1.0.0
*/

@mixin clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin trim($color: #fff) {
  margin-top: 7px;
  position: relative;
  margin-bottom: 7px;

  &:before, &:after {
    content: '';
    width: 100%;
    height: 7px;
    background: rgba($color, 0.6);
    position: absolute;
    display: block;
    clear: both;
  }

  &:before {
    top: -7px;
  }

  &:after {
    bottom: -7px;
  }
}

@mixin header-border {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 30px;
    background: $primary-color;
  }
}