/*
Product loop.

@since 1.0.0
*/

@import "../settings";

.featured-product-loop {
  li {
    list-style: none;

    > .container {
      @include clearfix;
      border: 1px solid #aaa;
      padding: 5px;
    }
  }

  .product-title {
    font-family: $font-family-sans-serif;
    text-align: center;
    font-size: 1.3em;
    line-height: 1;
  }

  .product-subtitle {
    text-align: center;
    margin: 0;
  }

  .product-image {
    margin: 0 auto;
  }

  .product-buy {
    text-align: center;
    width: 100%;

    .add_to_cart_button {
      background: transparent;
      color: $primary-color;
      padding: 0 10px 0 0;
      margin: 0 10px 0 0;
      border: 0 solid #aaa;
      border-right-width: 1px;
    }
  }
}