/*
Posts within a loop.

@since 1.0.0
*/

@import "../settings";

@mixin post-styles($type: post) {
  .#{$type}-list {
    .#{$type} {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &:last-of-type {
        border-bottom-width: 0;
      }

      .#{$type}-excerpt {
        p {
          margin-bottom: 0;
        }
      }

      .#{$type}-image {
        padding-left: 0;
        padding-right: 15px;
      }

      .#{$type}-content {
        padding-right: 0;
      }

      .read-more {
        margin: 10px 0 0 0;
      }
    }
  }
}

$post-types: post lesson;

@each $type in $post-types {
  @include post-styles($type);
}