/*
The static site header.

@since 1.0.0
*/
@import "../settings";

$top-header-height: 60px;
$primary-nav-height: 50px;

#site-header {

  // Top header
  .top-header {
    background: #202020;
    color: #ddd;
    line-height: $top-header-height;

    // Nav
    .top-nav {
      text-align: right;
      padding-right: 120px + ($gutter / 2);

      .menu {
        margin: 0;

        .menu-item {
          display: inline-block;
          padding: 0 10px;
          line-height: $top-header-height;

          a {
            @extend a.color-invert;
          }
        }
      }
    }

    // User
    .user-menu {
      min-height: 1px; // Fixes column disappearing issue

      p {
        margin: 0;
        line-height: $top-header-height;
      }
    }

    // Cart
    > .row {
      position: relative;
    }

    .cart {
      width: 120px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      border-top: 5px solid $primary-color;

      p {
        margin: 10px 0;
        vertical-align: middle;
      }

      .cart-link {
        font-size: 1.3em;

        [class*='icon'] {
          font-size: 1.5em;
          vertical-align: middle;
          margin-right: 5px;
        }
      }

      .cart-contents {
        color: $body-font-color;
      }
    }
  }

  // Bottom header
  .primary-nav {
    @include trim($primary-color);
    color: $primary-color;
    background: #fff;
    position: relative;
    margin-top: 100px;

    &.large {
      margin-top: 160px;
    }

    // Logo
    .site-logo {
      position: absolute;
      z-index: 10;
      left: 20px;
      top: -150px;
      width: 30%;

      &.large {
        bottom: -100px;
        width: 50%;
      }
    }

    // Nav
    #site-nav {
      padding: 0;

      .menu {
        margin: 0;
        text-align: right;
      }

      .menu-item {
        display: inline-block;
        padding: 0 10px;
        line-height: $primary-nav-height;
        font-size: 1.7em;
        font-family: $header-font-family;

        a {
          @extend a.color-invert;
        }
      }
    }
  }

  // Feature
  .feature {
    @include trim(#fff);
    margin-top: 27px; // Compensate for green border (7px tall)
    margin-bottom: 20px;
//    background: url("http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png") $primary-color repeat;
//    background: url("http://www.transparenttextures.com/patterns/arches.png") $primary-color repeat;
//    background: url("http://www.transparenttextures.com/patterns/az-subtle.png") $primary-color repeat;
    background: url("http://www.transparenttextures.com/patterns/black-linen.png") $primary-color repeat;

    > .columns {
      padding-top: 50px;
    }

    .feature-left {
      padding: 20px;
    }

    .feature-right {
      padding: 20px;

      .container {
        color: #fff;
        padding: 20px;
      }

      p, .button {
        margin-bottom: 0;
      }

      p {
        font-size: 2em;
        margin-bottom: 1em;
      }
    }
  }
}