/*
The static site header.

@since 0.1.0
*/
@import "../settings";

$top-header-height: 60px;
$bottom-header-height: 50px;

#site-header {

  .top-header {
    background: #202020;
    color: #ddd;
    line-height: $top-header-height;

    // Nav
    .menu {
      margin: 0;
    }

    .menu-item {
      display: inline-block;
      padding: 0 10px;
      line-height: $top-header-height;

      a {
        @extend a.color-invert;
      }
    }

    // User
    .user-menu {
      p {
        margin: 0;
        line-height: $top-header-height;
      }
    }
  }

  .bottom-header {
    @include trim($primary-color);
    color: $primary-color;
    background: #fff;
    margin-top: 160px;
    position: relative;

    // Logo
    .site-logo {
      position: absolute;
      bottom: -100px;
      left: 20px;
      width: 50%;
      z-index: 10;
    }

    // Nav
    #site-nav {

      .menu {
        margin: 0;
        text-align: right;
      }

      .menu-item {
        display: inline-block;
        padding: 0 10px;
        line-height: $bottom-header-height;
        font-size: 1.4em;

        a {
          @extend a.color-invert;
        }
      }
    }
  }
}